<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>用户列表</h1>

    <% for(var i=0; i<list.length; i++) { %>
      <h2>
        <span><%= list[i].name %></span>
        <span>---</span>
        <span><%= list[i].age %></span>
      </h2>
    <% } %>


    <div></div>
  </body>
</html>
